@import url("https://fonts.googleapis.com/css?family=Montez:wght@300;800&display=swap");

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(73, 11, 73);
  color: white;
  font-family: "Courier New", Courier, monospace, "Montez", cursive;
}
a {
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero-wrapper {
  background-color: rgba(238, 88, 34, 0.938);
}

.wrapper {
  padding: 1.5em;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;

  .logo {
    font-weight: bold;
  }
  ul {
    display: flex;

    li a {
      padding: 0 0.8em;
    }
  }
}

.hero__content {
  margin: 4em 0 2em;
  .subtitle {
    margin-bottom: 0;
  }
}

.light-purple-wrapper {
  background-color: rgb(105, 7, 105);
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: space-around;
  margin-top: 2em;
  li {
    margin-bottom: 1.5em;
  }
  strong {
    font-size: 1.4em;
  }
  span {
    display: block;
    text-transform: uppercase;
    font-size: 0.7em;
  }
}

.arrows {
  display: none;
}

.extended-wrapper {
  padding: 0 1.5em 2em;
  max-width: 1230px;
  margin: 0 auto;
}

ul.carousal {
  margin-bottom: 1em;
  li {
    background-color: rgb(83, 58, 107);
    padding: 1em;
    margin-bottom: 1em;
  }
}

blockquote {
  margin: 0;
  font-size: 0.8em;
  line-height: 1.8em;
  margin-bottom: 1em;
}

cite {
  color: rgb(250, 75, 133);
  font-weight: bold;
  font-size: 0.8em;
  font-style: normal;
  position: relative;
  padding-left: 25px;
}
cite::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  height: 1px;
  width: 20px;
  border-bottom: 1px solid white;
}

h2 {
  text-align: center;
  font-weight: bold;

  position: relative;
}
h2::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 50px;
  top: -0.3em;
  background-color: rgb(236, 11, 142);
}

.technologies,
.social-websites {
  text-align: center;
  opacity: 0.76;
  .tech {
    width: 50px;
  }
  li {
    margin: 2em 0;
  }
  p {
    display: inline;
    font-size: 1.4em;
  }
}

@media (min-width: 500px) {
  .technologies {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  .social-websites {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 650px) {
  body {
    font-size: 18px;
  }
  .wrapper {
    padding: 1.5em 4em;
  }
  .carousal-container {
    display: flex;
    align-items: center;
  }
  .arrows {
    display: block;
    position: relative;
    bottom: 1em;
    width: 40px;
    height: 20px;
    cursor: pointer;
    margin: 0.5em;
  }
  .left {
    transform: rotateZ(90deg);
  }
  .right {
    transform: rotateZ(-90deg);
  }
  ul.carousal {
    display: flex;
    margin-bottom: 0;
    li {
      margin-right: 1em;
      margin-bottom: 0;
      padding: 2em;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .technologies,
  .social-websites {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 853px) {
  body {
    font-size: 20px;
  }
  .stats {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  .technologies,
  .social-websites {
    grid-template-columns: repeat(4, auto);
  }
  h1 {
    font-size: 2.5em;
    text-align: right;
  }
  .subtitle {
    font-size: 1.2em;
  }
  h2 {
    text-align: left;
    font-size: 2em;
  }
  .light-purple-wrapper {
    padding-bottom: 4em;
  }
  .v-padding {
    padding: 4em;
  }
  .move-up {
    margin-top: -6em;
  }
}

@media (min-width: 1200px) {
  .stats li {
    border-right: 1px solid rgba(255, 255, 255, 0.63);
    padding-right: 5%;
    &:last-child {
      border: 0;
    }
  }
}

@media (max-width: 374px) {
  * {
    margin: 0;
  }
  header {
    align-items: center;
    flex-direction: column;
    .logo {
      padding-bottom: 0.5em;
      border-bottom: 1px solid white;
    }
  }
  ul {
    flex-direction: column;
    li {
      padding: 0.5em;
    }
  }
  .stats {
    text-align: center;
  }
  .hero__content {
    margin-top: 0.2em;
  }
  .subtitle {
    margin-top: 1.5em;
  }
}
